/**
 * Custom separator block styles.
 */

.wp-block-separator {
	&.is-style-any-emoji {
		display: flex;
		align-items: center;
		justify-content: center;

		/* Must use ::before since the editor monopolizes ::after. 😡 */
		&::before {
			content: var(--any-emoji);
			display: block;
		}
	}
}
